*{
    font-family: 'Open Sans', sans-serif;
font-family: 'Permanent Marker', cursive;
font-family: 'Roboto Mono', monospace;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
section{
    width: 100%;
    display: flex;
    justify-content: flex-start;
}
.Games{
    display: flex;
    flex-direction:column;
    align-items: center;
}
img{
    max-width: 500px;
    max-height: 500px;
    opacity: 40%;
}
img:hover{
    animation: fadeIn .7s;
    opacity: 100%;
}
@keyframes fadeIn{
    0%{opacity: 40%;}
    100%{opacity: 100%;}
}
