*{
    font-family: 'Open Sans', sans-serif;
font-family: 'Permanent Marker', cursive;
font-family: 'Roboto Mono', monospace;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
}
.other{
    background-color: white;
}
#scoreBoard{
    display: flex;
}
.theScores{
    margin-right: 50px;
    margin-left:50px
}
h2,h3{
    color: white;   
}
h3{
    font-size:1.7em
}
button{
    opacity: 40%;
    margin-top: 80px;
    padding: 10px;
    border: 3px white solid;
    color: black;
    font-weight: 700;
}
button:hover{
    animation: fadeIn .7s;
    opacity: 100%;
}
@keyframes fadeIn{
    0%{opacity: 40%;}
    100%{opacity: 100%;}
}
h3{
    text-align: center;
}
#board{
    width: 800px;
    height:600px;
    border: white solid 2px;
    display: flex;
    flex-wrap: wrap;
}
.apple{
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
}
.snake{
    background-color: rgb(255, 255, 255);
}
.head{
    background-color: rgb(117, 126, 133);
}
#board div{
    margin: 0;
    width: 40px;
    height: 40px;
}
#buttonArea{
    width: 20vw;    
    display: flex;
    justify-content: space-evenly;
    
}
#gameOver{
    color: rgb(124, 24, 24);
    position: absolute;
    font-size: 5em;
}