#board{
    width: 800px;
    height:600px;
    border: black solid 2px;
    display: flex;
    flex-wrap: wrap;
}
.apple{
    background-color: rgb(187, 10, 10);
}
.snake{
    background-color: #162d54;
}
#board div{
    margin: 0;
    width: 40px;
    height: 40px;
}